* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #F0F8EA;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    position: relative;
    background: #E54B4B;
    padding: 1em 0;
    color: #EBEBD3;
}

header::after {
    content: "";
    clear: both;
    display: block;
}

.logo {
    float: left;
    margin: 0;
    font-weight: 300;
    font-size: 1.8rem;
}

.logo span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.site-nav {
    position: absolute;
    top: 100%;
    right: 0;
    background: #464655;
    height: 0;
    overflow: hidden;
}

.site-nav-open {
    height: auto;
}

.site-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.site-nav ul li {
    border-bottom: 1px solid #575766;
}

.site-nav ul li:last-child {
    border: none;
}

.site-nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 2em 6em;
    color: #F0F8EA;
}

.site-nav ul li a:hover,
.site-nav ul li a:focus {
    background: #E4B363;
    color: #464655;
    font-weight: 500;
}

.menu-toggle {
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
}

.hamburger::before {
    transform: translateY(-7px);
}

.hamburger::after {
    transform: translateY(4px);
}